* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.bin binary -eol
*.gif binary -eol
*.ico binary -eol
*.jpeg binary -eol
*.jpg binary -eol
*.pdf binary -eol
*.png binary -eol
*.webp binary -eol
*.zip binary -eol
